:root{
  /* colors */
  --terracotta-900:#4D0D00;
  --terracotta-500:#E2725B;
  --cream-100:#FFFFEE;
  --cream-500:#F2F2DA;
  --cream-600:#ECECCB;
  --deep-gold-400:#DEBE6A;
  --deep-gold-800:#80600F;
  --burnt-orange-500:#F28566;
  --gray-200:#F1F1F1;
  --gray-900:#AA9B9B;
  --black:#070707;
  font-size: 10px;
  --font1: "Ubuntu", sans-serif;
  --font2: "EB Garamond", serif;
  --fontW1:400;
  --page-padding: 0 7.125rem;
  --header_size: 4.70125rem;
  --body_size:2.25rem;
  --placeholder_textSize:1.5625rem;
  --body2_size:3.125rem;
  --p_lineheight:1.5em;
  --h_lineheight:1.2em;
}
#root {
  position: relative;
  width: clamp(200px,100%,100%);
  font-size: 10px;
  height: auto;
  /* overflow-x: hidden; */
}
*{
  margin: 0;
  padding: 0;
}
body{
  color: var(--cream-100);
  background-color: var(--terracotta-500);
}
html{
  overflow-x: hidden;
}
header{
  display: grid;
  font-family: var(--font2);
  font-weight: var(--fontW1);
  background-color: var(--gray-200);
  color: var(--terracotta-900);
  padding: 0.2em 0.5em;

  & .text{
    display: grid;
    width: 100%;
    place-items: center center;
    grid-template-rows: 1fr;
    overflow-x: hidden;
    
    & h1{
      font-size: clamp(10px,2rem,25px);
      
    }
    .scroll{
      animation: scroll var(--_animation-duration, 30s) var(--_animation-direction, forwards) linear infinite;
    }

  }
}

.nav{
  display: grid;
  font-family:var(--font2);
  font-weight: var(--fontW1);
  background-color: var(--cream-500);
  justify-content: center;
  padding: 0rem 1rem;

  & .wrapper{
    display: grid;
    width: 100%;
    grid-template-columns: 1fr auto 1fr;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    gap: 7.125rem;
  }


}
.smnav{
  display: grid;
  font-family:var(--font2);
  font-weight: var(--fontW1);
  background-color: var(--cream-500);
  justify-content: normal;
  padding: 0rem 0rem;

  & .smwrapper{
 
    display: grid;
    width: 100%;
    grid-template-columns: 1fr auto 1fr;
    flex-direction: row;
    align-items: center;
    justify-content: normal;
    gap: 7.125rem;
  }

}
#logo{
  width: 8rem;
}
.navlink{
  text-decoration: none;
  color: var(--terracotta-900);
  font-size: 2.25rem;
  transition: ease-in-out 0.2s;
}
.navlink:hover{
  color: var(--deep-gold-800);
  scale: 1.04;
}
.linkset1,.linkset2{
  display: flex;
  gap: 5.625rem;
  justify-self: end;
}
.nolinkset1,.nolinkset2{
  display: none;
}
.active{
  color: var(--deep-gold-800);
  border-bottom: 3.3px solid var(--deep-gold-800);
  scale: 1.05;
}
.hero{
  height: calc(100vh - 15% );
  display: grid;
  grid-template-columns: 1fr auto;
  padding: var(--page-padding);
  place-items: center center;
  font-family: var(--font1);
  background-color: var(--terracotta-500);
  
  & h1{
    font-size:var(--header_size);
    letter-spacing: -0.01em;
    line-height: var(--h_lineheight);
    
    & span{
      color: var(--deep-gold-400);
    }

  }
  & p{
    font-size:var(--body_size);
    font-family: var(--font2);
    line-height: var(--p_lineheight);
    margin-top: 0.625rem;
    margin-bottom: 1.25rem;
  }

  & .heroimage{
    width: clamp(200px,58.5em,585px);
  }
}
.btn{
  display: grid;
  font-family:var(--font2);
  font-size: var(--body_size);
  width: fit-content;
  color: var(--cream-100);
  background-color: var(--deep-gold-400);
  outline: none;
  border: none;
  padding: 0.9rem 3.25rem;
  border-radius: 1.075rem;
  text-decoration: none;
  transition: ease-in-out 0.25s;
}
.btn:hover{
  scale: 1.05;
  background-color: var(--cream-100);
  color: var(--deep-gold-400);
}

.section2{
  display: grid;
  grid-template-columns: 1fr auto;
  background-color: var(--burnt-orange-500);
  padding: var(--page-padding);
  place-items: center center;
  height: 300px;
  .leftdiv2{
    font-size: var(--body2_size);
    height: inherit;
    & p{
      width: 80%;
      font-family: var(--font2);
    }
  }
}
.section2image{

  width: 21.3rem;
  margin-top: 6.5rem;
}


.section3{
  display: grid;
  background-color: var(--terracotta-500);
  padding: var(--page-padding);
  place-items: center center;
  text-align: center;
  padding-bottom: 3.125rem;
}
.section3wrapper{
  display: grid;
  grid-template-columns: auto;
  width: 50%;
  font-family: var(--font2);
  font-size: var(--body2_size);
  place-items: center center;

  & p{
    margin-top: 20px;
    margin-bottom: 10px;
  }
}
.featuredsection{
  font-family: var(--font1);
  font-size: var(--body_size);
  background-color: var(--cream-500);
  color: var(--terracotta-900);
  width: inherit;
  display: grid;
  place-items: center center;
  grid-template-rows: auto 1fr;
  height:37.5rem;
  padding: var(--page-padding);
  padding-top: 3.125rem;
}
.featuredwrapper{
  display: grid;
  place-items: center center;
  gap: 4.21875rem;
  height: fit-content;
}
.fcards{
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 8.4375rem;
}
.fcard{
  display: grid;
  width: 200px;
  grid-template-columns: 1fr;
  height: 250px;
  font-family: var(--font2);
  font-size: var(--body_size);
  place-items: center center;
  gap: 1.875rem;

  & img{
    width:100%;
    align-self: center;
    max-height: 200px;
  }

  & p{
    align-self: end;
  }
}
.whyussection{
  color: var(--cream-100);
  display: grid;
  place-items: center center;
  gap: 10px;
  background-color: var(--terracotta-500);
  padding: var(--page-padding);
}
.abwrapper{
  display: grid;
  grid-template-columns: auto 1fr;
  font-family: var(--font2);
  padding-top: 4rem;
  place-items: center center;
  gap: 10rem;

  & img{
    width:49rem;
    justify-self: start;
  }
}
.wcu{
  display: grid;
  gap: 10px;
  place-items: center center;
  

  & h1{
    font-family: var(--font1);
    font-size: var(--header_size);
  }

  & ul{
    display: grid;
    font-family: var(--font2);
    font-size: var(--body_size);
    letter-spacing: 0.007em;
    line-height: 40px;
    gap: 10px;
  }
  & ul li::marker{
    color: var(--deep-gold-400);
  }
}
.conwrapper{
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: fit-content;
  place-items: center center;
  font-size: var(--body2_size);
  font-family: var(--font2);
  padding-top: 4rem;
  padding-bottom: 4rem;
  justify-self: center;

  & p{
    align-self: end;
  }

  & .conwrapper_inner{
    & p{
      font-size: var(--body2_size);
  
      & span{
        color: var(--deep-gold-400);
      }
    }
  }
}

.footer{
  background-color: var(--cream-500);
  color: var(--terracotta-900);
  display: grid;
  gap: 10px;
  padding: 10px 0px;
  font-size: var(--body_size);
  font-family: var(--font2);

  & p{
    text-align: center;

    & span{
      color: #000;
    }
  }
  & hr{
    color: var(--gray-900);
  }
}
.footerwrapper{
  padding: var(--page-padding);
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* justify-content: space-between; */
  /* place-items: center center; */
  & .fleft{
    display: grid;
    gap: 5px;
  }
  & .fleft li{
    display: grid;
    grid-template-columns: 50px auto;
    gap: 3px;
    place-items: center start;
    list-style: none;
    font-style: normal;

    & a{
      text-decoration: none;
      color: inherit;
    }
    & img{
      width: 3.75rem;
    }

  }
  & .fright{
    display: flex ;
    gap: 3px;
    flex-direction: column;
    flex-wrap: nowrap;
    
    & a{
      text-decoration: none;
      color: inherit;
    }

  }
}

/* about us page */
.absection1{
  height: calc(100vh - 15% );
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-family: var(--font2);
  font-size: var(--body_size);
  place-items: center center;
  padding: var(--page-padding);
  padding-top: 5.3755rem;
  padding-bottom: 5.3755rem;


  & .absectionleft img{
    width: 49rem;
  }
  & .absectionright{
    display: grid;
    align-self: start;

    & h1{
      font-family: var(--font1);
      font-size: var(--header_size);
      margin-bottom: 20px;
    }
    & p{
      width: 80%;
      line-height: var(--p_lineheight);
      font-size: var(--body_size);
      margin-bottom: 10px;
    }

  }
}
.absection2{
  background-color: var(--burnt-orange-500);
  text-align: center;
  padding: var(--page-padding);
  padding-top: 5.3755rem;
  padding-bottom: 5.3755rem;

  & h1{
    font-family: var(--font1);
    font-size: var(--header_size);
    margin-bottom: 20px;
  }
  & p{
    font-family: var(--font2);
    font-size: var(--body_size);
  }
}
.absection3{
  text-align: center;
  padding: var(--page-padding);
  padding-top: 5.3755rem;
  padding-bottom: 5.3755rem;

  & h1{
    font-family: var(--font1);
    font-size: var(--header_size);
    margin-bottom: 20px;
  }
  & p{
    font-family: var(--font2);
    font-size: var(--body_size);
  }
}
.absection4{
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center center ;
  padding: var(--page-padding);
  padding-top: 5.3755rem;
  padding-bottom: 5.3755rem;

  & h1{
    font-family: var(--font1);
    font-size: var(--header_size);
    margin-bottom: 20px;
  }
  & p{
    font-family: var(--font2);
    font-size: var(--body_size);
    margin-bottom: 20px;
  }
  & .absectionright img{
    width: clamp(200px,46.3em,585px);
  }
  & .absectionleft{
    align-self: start;
  }
  & .absectionright{
    align-self: end;
  }
}
/* contact page */
.contact{
  display: grid;
  height: 60rem;
  place-items: center center;
  color: var(--terracotta-900);

  & a{
    text-decoration: none;
    color: var(--deep-gold-800);
  }
}
.contact_container{
  width: 80%;
  height: 500px;
  background: linear-gradient(270deg, #4D0D00 15%, #F2F2DA 15.05%, #F2F2DA 100%);
  mix-blend-mode: normal;
  border-radius: 0.9375rem;
  display: grid;
  gap: 10px;
  grid-template-columns: 50% auto;
  overflow: hidden;
  /* padding: var(--page-padding); */

  & .contact_left{
    padding-left: 2rem;
    padding-right: 2.5625rem;

    & h1{
      font-size: var(--header_size);
      font-family: var(--font1);
    }
    & p{
      font-size: var(--body_size);
      font-family: var(--font2);
    }
    & button{
      font-size: var(--body_size);
      font-family: var(--font2);
      padding: 0.5625rem 2.875rem;
      border-radius: 1.075rem;
      background-color: var(--deep-gold-800);
      color: var(--cream-100);
      border: none;
      outline: none;
      width: fit-content;
      margin-top: 10px;
    }
    & input{
      border: none;
      border-bottom: 2px solid #A1A1A1;
      background-color: transparent;
      height: 40px;
      width: 37.5rem;
      font-family: var(--font2);
    }
    & input::placeholder{
      font-family: var(--font2);
      font-size: var(--placeholder_textSize);
      color: #7D7D7D;
    }
    & input:focus-visible{
      font-family: var(--font2);
      outline: none;
      color: inherit;
      font-size: 1.65rem;
    }

    & form{
      display: grid;
      place-content: start start;
      gap: 10px;
    }
    & h1, & form,& p{
      margin-left: 50px;
    }

    & svg{
      margin-top: 1.3125rem;
    }

  }

  & .contact_right{
    font-size: var(--body_size);
    font-family: var(--font2);
    display: grid;
    position: relative;
    & .info_wrapper{
      background-color: var(--cream-600);
      align-self: center;
      position: absolute;
      width: 100%;
      height: 28rem;
      border-top-left-radius: 15px;
      border-bottom-left-radius: 15px;
      padding-left: 2rem;
      color: var(--deep-gold-800);

      & h1{
        font-size: var(--header_size);
        font-family: var(--font1);
      }

      & address{
        font-style: normal;
        display: grid;
        gap: 10px;
        
        & a{
          display: grid;
          grid-template-columns: 50px auto;
          align-items: center;
        }
      }
    }
    & img{
      width: 40px;
      filter: invert(34%) sepia(67%) saturate(594%) hue-rotate(5deg) brightness(92%) contrast(89%);
    }

    & .social_wrapper{
      place-self: end end;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 10px;
      margin-right: 2rem;


      & img{
        filter: invert(82%) sepia(18%) saturate(949%) hue-rotate(1deg) brightness(91%) contrast(94%);
        width: 35px;

      }
    }

  }
}










/* animations */
@keyframes scroll {
  to {
    transform: translate(calc(-50% - 0.5rem));
  }

}



/* css transitions */
.node-enter{
  position: absolute;
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 2.5rem;
  background-color: var(--cream-500);
  width: 40%;
  left: 0;
  place-items: center start;
  height: 0;
  overflow: hidden;
  transition: height 500ms;
  border-bottom-right-radius: 1.075rem;
  z-index:10;
  & *{
    margin: 0.2rem 2rem;
  }
}

.node-enter-active {
  position: absolute;
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 2.5rem;
  background-color: var(--cream-500);
  width: 40%;
  left: 0;
  place-items: center start;
  overflow: hidden;
  height: 230px;
  border-bottom-right-radius: 1.075rem;
  /* transition: height 2000ms; */
  z-index:10;
  & *{
    margin: 0.2rem 2rem;
  }
  
}
.node-enter-done {
  position: absolute;
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 2.5rem;
  background-color: var(--cream-500);
  width: 40%;
  left: 0;
  place-items: center start;
  overflow: hidden;
  height: fit-content;
  border-bottom-right-radius: 1.075rem;
  /* transition: height 2000ms; */
  z-index:10;
  & *{
    margin: 0.2rem 2rem;
  }
  
}
.node-exit{
  position: absolute;
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 2.5rem;
  background-color: var(--cream-500);
  width: 40%;
  left: 0;
  place-items: center start;
  height: 230px;
  overflow: hidden;
  transition: height 500ms;
  z-index:10;
  border-bottom-right-radius: 1.075rem;
  & *{
    margin: 0.2rem 2rem;
  }
}

.node-exit-active {
  position: absolute;
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 2.5rem;
  background-color: var(--cream-500);
  width: 40%;
  left: 0;
  place-items: center start;
  overflow: hidden;
  height: 0px;
  transition: height 500ms;
  z-index:10;
  border-bottom-right-radius: 1.075rem;
  & *{
    margin: 0.2rem 2rem;
  }
  
}
